{% extends "base.html" %}{% block content %}
<main>
  <div class="container">
    <!-- Content for the Company Holidays section -->
    <section id="company_holidays" class="content-section">
      <h2>UK Holidays</h2>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Holiday Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2023-01-01</td>
            <td>New Year's Day</td>
          </tr>
          <tr>
            <td>2023-04-14</td>
            <td>Good Friday</td>
          </tr>
          <tr>
            <td>2023-04-17</td>
            <td>Easter Monday</td>
          </tr>
          <tr>
            <td>2023-05-01</td>
            <td>Early May Bank Holiday</td>
          </tr>
          <tr>
            <td>2023-05-29</td>
            <td>Spring Bank Holiday</td>
          </tr>
          <tr>
            <td>2023-08-28</td>
            <td>Summer Bank Holiday</td>
          </tr>
          <tr>
            <td>2023-12-25</td>
            <td>Christmas Day</td>
          </tr>
          <tr>
            <td>2023-12-26</td>
            <td>Boxing Day</td>
          </tr>
          <!-- Add more rows for other UK holidays -->
        </tbody>
      </table>
    </section>
  </div>
</main>
{% endblock %}
